@import url("../../App.css");
.infor h4{
    font-size: 17px;
    font-weight: 600;
   
}
.infor{
    width: auto;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
}
.infor span{
    font-size: 12px;

} 
