.card {
    
    border-radius: 15px;
    box-shadow: 5px 6px 17px -2px rgba(0,0,0,0.75);
-webkit-box-shadow: 5px 6px 17px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 6px 17px -2px rgba(0,0,0,0.75);
color:white;
transition: 1s ease;
}
.card-large{
    height: 250px;
    width: 250px;
}
.dark{
    background: rgb(22, 26, 26);
}
.light{
    background: rgb(5, 76, 182);
}
.card-small{
    height: 180px;
    width: 180px;
}